.swiper {
    width: 600px;
}

.swiper-slide img {
    width: 100%;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

@media screen and (max-width: 428px) {
    .swiper {
        width: 390px;
    }
}